{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
            </div>
        </div>
        {% if prev_book %}
            <a href="{{ prev_book.get_absolute_url }}">__{{ prev_book.pub_date|date:"Y-m-d" }}____</a>
        {% endif %}
        {% if next_book %}
            <a href="{{ next_book.get_absolute_url }}">____{{ next_book.pub_date|date:"Y-m-d" }}__</a>
        {% endif %}
    </div>
{% endblock %}